body{
    width: 10000px;
    overflow-y: scroll;
    background-image: url("stock-vector-seamless-repeating-cartoon-background.jpeg");
    background-repeat: repeat-x;
    background-size: auto;
    margin: 0px;
    padding: 0px;
}



#testDiv{
    position: relative;
    top: 500px;
    left: 100px;
    width: 100px;
    min-height: 100px;
    background-color: blue;
}