body{
    overflow: scroll;
    overflow-y: visible;
    margin: 0px;
    padding: 0px;
}

#allContent{
    position: relative;
}

#candyBackground{
    background-image: url("stock-vector-seamless-repeating-cartoon-background.jpeg");
    background-repeat: repeat-x;
    position: absolute;
    background-size: contain;
}


.path{
    transform: rotateX(85deg);
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.pathImg{
position: relative;
display: inline-block;
}


#characterContainer{
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 100px;
    min-height: 100px;
}

.character{
    height: 100px;
}