body{
    width: 10000px;
    overflow-y: scroll;
    background-image: url("seamless-repeating-pattern-forest_209002-166.avif");
    background-repeat: repeat;
}

#testDiv{
    position: relative;
    top: 500px;
    left: 100px;
    width: 100px;
    min-height: 100px;
    background-color: blue;
}